#pokemonContainer {
    margin: 20px auto;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-container {
    margin: 20px auto;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    
}

#searchInput {
    text-align: center;

    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 200px;
    margin-left: auto;
}

#container-1 {
    text-align: center;
    margin: 20px auto;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#container-2 {
    text-align: center;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
#searchHeader {
    text-align: center;
}
#searchBtn {
    
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: #ffca28;
    /* Yellow */
    color: #333;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #ffb300;
    /* Darker Yellow */
}

#pokemonInfo {
    margin: 20px auto;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#randomPokemonImg {
    max-width: 300px;
    margin: 20px auto;
    display: block;
}

.pokemon-name {
    font-size: 24px;
    margin-top: 10px;
}
