@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    animation: fade-in 1s ease-out;
}

/* Our Mission */
#ourMission {
    background-color: #f9f9f9;
    padding: 30px;
    margin-bottom: 20px;
    animation: fade-in 1s ease-out;
}

/* What Our Team Does? */
#whatweDo {
    background-color: #f2f2f2;
    padding: 30px;
    margin-bottom: 20px;
    animation: fade-in 1s ease-out;
}

/* Our Audience */
#audience {
    background-color: #f9f9f9;
    padding: 30px;
    margin-bottom: 20px;
    animation: fade-in 1s ease-out;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    animation: fade-in 1s ease-out;
}