body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.pokemon-container {
    display: flex;
    justify-content: space-around;
}

.pokemon {
    border: 1px solid #ccc;
    padding: 20px;
    width: 45%;
}

.pokemon img {
    width: 150px;
    height: 150px;
    /*display: none; /* Hide images by default */
}


#fetchPokemon {
    align-items: center;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #333; /* Change the border color to black */
    width: 200px;
    margin-left: auto;
}

#buttonHeader {
    align-items: center;
    align-content: center;
    text-align: center;
}


.winner-image {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}


#pokemon1, #pokemon2, #battleResult {
    text-align: center;
    margin: 20px auto;
    margin-left: 20px;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#container-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #333;
    border-radius: 30px;
    padding: 50;
    height: 650px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

#battleTableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Optional: adjust height as needed */
    margin-bottom: 20px; /* Add space below the table */
}

#battleTable table {
    border-collapse: collapse;
    width: auto; /* Adjust width as needed */
    margin: auto;
}